node_modules
src/AIServiceAccount.json
src/serviceAccount.json
src/environment.ts
**/*.js
src/.env
assets
dist
src/ai_training/entities/*.json
src/ai_training/intents/*.json
src/tools/db/*.json
dist/ai_training/entities/*.json
dist/ai_training/intents/*.json
dist/tools/db/*.json